.App {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

input {
  padding: 5px;
  border-radius: 10px;
  margin: 8px 0;
  outline: none;
}

button {
  padding: 10px 15px;
  align-self: center;
  background: rgb(58, 112, 173);
  color: white;
  font-weight: bold;
  border-radius: 50%;
  border: 2px solid transparent;
  text-decoration: none;
  outline: none;
  user-select: none;
}

button:active {
  background: rgb(35, 74, 119);
}

.Smurfs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  padding-top: 10px;
  border-top: 5px solid rgb(58, 112, 173);
}

.Smurfs h1 {
  border-top: 10px solid rgb(58, 112, 173);
  border-bottom: 10px solid rgb(58, 112, 173);
  background: lightblue;
}

.Smurf {
  box-sizing: border-box;
  border: 10px double rgb(58, 112, 173);
  background: lightblue;
  width: 230px;
  height: 180px;
  margin: 10px;
  padding: 5px 20px;
  border-radius: 50%;
}

.Smurf input {
  padding: 1px 2px;
  margin: 5px 0;
  font-size: .8rem;
}

.Smurf input.name {
  margin-top: 19px;
  width: 70%;
}

.Smurf input.age {
  width: 25%;
}

.Smurf input.height {
  width: 33%;
}

.Smurf h3 {
  color: blue;
  margin-bottom: 10px;
}

.Smurf p {
  margin: 0 0 10px;
}